/* From Uiverse.io by SelfMadeSystem - Star Rating */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
}

.star-rating input {
  appearance: unset;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.star-rating label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.star-rating label:hover svg {
  stroke: var(--fill);
}

.star-rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}

/* Sizes */
.star-rating.sm svg {
  width: 1.1rem;
  height: 1.1rem;
}

.star-rating.md svg {
  width: 1.5rem;
  height: 1.5rem;
}

.star-rating.lg svg {
  width: 2rem;
  height: 2rem;
}

.star-rating.readonly label {
  cursor: default;
}

.star-rating.readonly label:hover svg {
  stroke: var(--stroke);
}

/* For display only (no interaction) */
.star-rating.display {
  pointer-events: none;
}

.star-rating.display svg {
  animation: none;
}
